.rank-comp {
  width: 100%;
  font-family: 'SimSun', serif;
}

.rank-comp .rank-upper {
  display: flex;
  width: 100%;
  height: auto;
}

.rank-comp .rank-upper .title-box {
  justify-content: space-between;
  flex: 1;
  width: 200px;
  height: 60px;
  font: 800 2.5em 'SimSun';
  margin: 5px;
  writing-mode: horizontal-bt;
  direction: ltr;
  cursor: default;
}

.rank-comp .rank-upper .rank-box {
  width: 200px;
  font: 500 1em 'SimSun';
}

.rank-comp .rank-box ul {
  display: flex;
  width: auto;
  height: 100%;
  align-items: flex-end;
  writing-mode: horizontal-bt;
  direction: rtl;
  cursor: pointer;
  margin: 0 10px 0 0;
  list-style: none;
  padding: 0;
}

.rank-comp li.sort-option {
  width: auto;
}

.rank-comp li.sort-option.select {
  color: red;
  border-bottom: 2px double red;
}

.rank-comp li.sort-option:hover {
  color: blue;
  border-bottom: 2px double red;
}

.rank-comp li.sort-option>div {
  margin: 2px;
}

.rank-comp .rank-line {
  display: block;
  height: 2px;
  width: auto;
  opacity: 0.5;
  border-top: 2px dotted black;
  margin: 0 5px 5px 5px;
}

/* 置顶书籍的信息显示 */
.rank-comp .top-card {
  display: flex;
  height: 125px;
}

.rank-comp .top-card-left {
  display: flex;
  min-width: 100px;
  height: 125px;
  flex: 1;
}

.rank-comp .top-card-right {
  display: flex;
  min-width: 100px;
  height: 125px;
  flex: 0;
  writing-mode: horizontal-tb;
  direction: rtl;
  /* transition: all 0.5s ease-in-out; */
}

.rank-comp .top-card-right:hover {
  flex: 9999;
}

.rank-comp .top-card-left .info-area {
  display: block;
  overflow: hidden;
}

.rank-comp .top-card-right .info-area {
  display: none;
  overflow: hidden;
}

.rank-comp:has(.top-card-right:hover) .top-card-right .info-area {
  display: block;
}

.rank-comp .top-card .book-division {
  width: 2px;
  height: 120px;
  border-left: 2px dashed black;
  margin: 2px 3px;
}

/* 扫描线动画 */
.rank-comp img {
  display: block;
  width: 100px;
  min-width: 100px;
  height: 125px;
  z-index: 0;
  cursor: pointer;
}

.rank-comp .img-warp {
  display: block;
  width: 100px;
  min-width: 100px;
  height: 125px;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
  transition: all 0.2s ease-in-out;
  position: relative;
  background-color: aliceblue;
  overflow: hidden;
}

.rank-comp .img-warp:hover {
  filter: drop-shadow(8px 8px 3px rgba(0, 0, 0, 0.4));
  transform: translateY(-5px);
}

.rank-comp .img-warp::after {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  background: linear-gradient(to left,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.2));
  width: 20px;
  height: 100%;
  transform: skew(-25deg);
  bottom: 0;
  left: -100%;
}

.rank-comp .img-warp:hover::after {
  animation: shine 0.6s ease;
}

@keyframes shine {
  0% {
    left: -100%;
  }

  100% {
    left: 120%;
  }
}

/* 主要信息 */
.rank-comp .card .info-area p {
  writing-mode: horizontal-tb;
  direction: ltr;
}

.rank-comp .card .info-area {
  margin: 0 5px;
  overflow-wrap: break-word;
  flex: 1;
}

.rank-comp .card .info-area .info-title {
  color: black;
  font: 800 1.5em 'SimSun';
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rank-comp .card .info-area .info-desc {
  color: grey;
  height: 55px;
  font: 300 0.9em 'SimSun';
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.rank-comp .card .info-area .info-read {
  font: 300 0.8em 'SimSun';
  margin: 0;
}

.rank-comp .card .info-area .info-push {
  font: 300 0.8em 'SimSun';
  margin: 0;
}

.rank-comp .rank-list {
  margin: 5px 0 0 0;
  list-style: none;
  padding: 0;
}